
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MACK Tech</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MACK Tech", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (this.User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("Profile", "ProfileInfoDetails", "Account")</li>
                            <li>@Html.ActionLink("Registration", "CourseRegistration", "Courses")</li>
                            <li>@Html.ActionLink("Tuition", "StudentAccount", "Courses")</li>
                            <li>
                                <span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
                                <div class="noti-content">
                                    <div class="noti-top-arrow"></div>
                                    <ul id="noticontent"></ul>
                                </div>
                            </li>
                        }

                        if (this.User.IsInRole("Instructor"))
                        {
                            <li>@Html.ActionLink("Profile", "ProfileInfoDetails", "Account")</li>
                            <li>@Html.ActionLink("Add Course", "AddCourse", "Courses")</li>
                            <li>@Html.ActionLink("Add Assignment", "SelectCourse", "Assignments")</li>

                            <li>
                                <span class="inoti glyphicon glyphicon-bell"><span class="icount">&nbsp;</span></span>
                                <div class="inoti-content">
                                    <div class="inoti-top-arrow"></div>
                                    <ul id="inoticontent"></ul>
                                </div>
                            </li>

                        }
                    }
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="col-md-12">
            <p>&copy; @DateTime.Now.Year - MACK Tech</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.dateFormat-1.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    @* Add jquery Library*@
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@


    @*<script src="~/Scripts/boostrap.min.js"></script>*@
    @*<link href="~/Content/boostrap.min.css" rel="stylesheet" />*@
    <style type="text/css">


        .noti-content, .inoti-content {
            position: fixed;
            right: 310px;
            background: #FFFFFF;
            border-radius: 4px;
            top: 47px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        div.noticontenttitle, div.inoticontenttitle {
            font-weight: bold;
        }


        ul#noticontent, ul#inoticontent {
            max-height: 400px;
            overflow: auto;
            margin: 0px;
            padding: 3px;
            list-style-type: none;
        }

            ul#noticontent li, ul#inoticontent li {
                margin: 3px;
                padding: 6px;
                background: #ffffff;
            }

        .noti-top-arrow, .inoti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F2E6FF;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 47px;
            top: -8px;
        }

        span.noti, span.inoti {
            color: #F2E6FF;
            margin: 15px;
            position: fixed;
            right: 325px;
            font-size: 18px;
            cursor: pointer;
        }

        span.count, span.icount {
            position: relative;
            font-weight: bold;
            top: -5px;
            color: red;
            text-align: center;
        }
    </style>

    @* Add jquery code for Get Notification & setup signalr *@
    <script type="text/javascript">
        $(function () {

            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                e.stopPropagation();
                $('#noticontent').empty();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;

                //only load notification if not already loaded
                if (count > -1) {
                    getNotifications();
                }

                $('span.count', this).html('&nbsp;');
            })

            // hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })

            // update notification for grade changed
            function getNotifications() {
                $('#noticontent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'GET',
                    url: '/home/GetNotifications',
                    success: function (response) {
                        $('#noticontent').empty();
                        if (response.length == 0) {
                            $('#noticontent').append($('<li>No new notifications</li>'));
                        }

                        $.each(response, function (index, value) {

                            //without horizontal line
                            if (index == 0) {
                                if (this.User.IsInRole("Student")) //Student Notfication
                                {
                                    if (value.DueDate == null) {
                                        $('#noticontent').append($('<li><div class=noticontenttitle>New grade </div>' + value.Grade + ' / ' + value.Points + ' <br>' + value.AssignmentTitle + '<br>' + value.Department + ' ' + value.CourseNumber + '</li>'));
                                    } else if (value.DueDate != null) {
                                        var dueDate = new Date(value.DueDate);
                                        $('#noticontent').append($('<li><div class=noticontenttitle>New Assignment </div>' + value.AssignmentTitle + ' <br>' + value.CourseNumber + ' ' + value.Department + '<br>' + value.Points + ' Points <br>Due: ' + dueDate + '</li>'));
                                    }
                                }
                                if (this.User.IsInRole("Instructor")) //Instructor Notfication
                                {
                                    //Work in progress
                                }
                                //with horizontal line
                            } else {

                                if (this.User.IsInRole("Student")) //Student Notficaiton
                                {
                                    //if graded assignment
                                    if (value.DueDate == null) {
                                        $('#noticontent').append($('<hr style="margin-top:-3px;margin-bottom:-3px;height:1px;border-width:0;color:#5900B3;background-color:#5900B3" /><li><div class=noticontenttitle>New grade </div>' + value.Grade + ' / ' + value.Points + ' <br>' + value.AssignmentTitle + '<br>' + value.Department + ' ' + value.CourseNumber + '</li>'));
                                    }

                                    //if newly added assignment
                                    else if (value.DueDate != null) {
                                        var dueDate = new Date(value.DueDate);
                                        $('#noticontent').append($('<hr style="margin-top:-3px;margin-bottom:-3px;height:1px;border-width:0;color:#5900B3;background-color:#5900B3" /><li><div class=noticontenttitle>New Assignment </div>' + value.AssignmentTitle + ' <br>' + value.Department + ' ' + value.CourseNumber + '<br>' + value.Points + ' Points <br>Due: ' + dueDate + '</li>'));
                                    }
                                }
                                if (this.User.IsInRole("Instructor")) //Instructor Notfication
                                {
                                    //Work in progress
                                }
                            }
                        });
                    }
                });
            }

            // update notification count
            function updateNotificationCount() {
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                $('span.count').html(count);
            }

            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });

            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }


        })
    </script>
</body>
</html>
