@model MackTechGroupProject.Models.Course
@{
    ViewBag.Title = "Course Detail View";
}

<div class="box lightPurple profileHeader">
    Welcome to @Model.Department @Model.CourseNumber
</div>

<p><a class="btn btn-default" href="@Url.Action("ViewAssignments", "Assignments", new { id = Model.CourseId })">View All Assignments</a></p>
@if (this.User.IsInRole("Instructor"))
{
    @*<p><a class="btn btn-default" href="@Url.Action("SelectCourse", "Assignments")">Add New Assignment</a></p>*@
}
@if (this.User.IsInRole("Student"))
{
    <p><a class="btn btn-default" href="@Url.Action("ViewGrades", "Assignments", new { id = Model.CourseId })">View Grades</a></p>
}
