@model IEnumerable<MackTechGroupProject.Models.Enrollment>

@{
    ViewBag.Title = "StudentAccount";
}

<div class="box lightPurple profileHeader">
    Tuition Balance
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentAccount</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.ClassLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.MaxCapacity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CreditHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.ClassLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.MaxCapacity)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |*@
                    @Html.ActionLink("Drop", "DeleteCourseFromEnrollments", new { id = item.EnrollmentId })
                </td>
            </tr>
        }
    </table>

    <div class="tuitionBalance">
        <div class="row tuitionBalanceText">
            <div style="display: inline-block; margin-left: 50%; margin-top:5px;">Credit Hours:      @ViewBag.TotalCreditHours</div>
            <div style="float:right; margin-right: 20px; margin-top:5px;">Account Balance:     @ViewBag.TotalFormattedCost</div>
            @*class="col-sm-6" style="text-align: right"*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: right">

            <a class="btn btn-default editProfileButton" href="@Url.Action("TuitionPayment", "Courses")">Pay Tuition</a>
        </div>
    </div>


</body>
</html>
