@model MackTechGroupProject.Models.PaymentInfo

@{
    ViewBag.Title = "Tuition Payment";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("TuitionPayment", "Courses", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter payment information.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CreditCardNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.ExpirationMonth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ExpirationMonth, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExpirationYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ExpirationYear, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CVC, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CVC, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PaymentAmount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PaymentAmount, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit Payment" />
        </div>
    </div>
}

<p style="color:green">@TempData["SuccessMessage"]</p>
<p style="color:red">@TempData["ErrorMessage"]</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
