@model MackTechGroupProject.Models.StudentSubmissionViewModel


@{
    ViewBag.Title = "GradeAssignment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Submission</title>
</head>

<h1>
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().User.FirstName)
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().User.LastName)
    
</h1>
<h2>
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().Assignment.AssignmentTitle)
</h2>
<body>
    <table>
        <tr>
            <th>
                Score:
            </th>
            @if (Model.SelectedStudentSubmission.FirstOrDefault().Grade != null)
            {
                <th>
                    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().Grade) /
                    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().Assignment.Points)
                </th>
            }
            @if (Model.SelectedStudentSubmission.FirstOrDefault().Grade == null)
            {
                <th>
                    @using (Html.BeginForm("GradeAssignment", "Assignment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.TextBoxFor(model => model.SelectedStudentSubmission.FirstOrDefault().Grade, new { @class = "form-control" })
                    }
                </th>
                <th>
                    Points Possible:
                </th>
                <th>
                    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().Assignment.Points)
                </th>
                <th>
                    <a class="btn btn-default" href="@Url.Action("SubmitStudentGrade", "Assignments", new { id = Model.SelectedStudentSubmission.FirstOrDefault().Assignment.AssignmentId })" target="_blank">
                        Submit Grade
                    </a>
                </th>
            }
        </tr>
    </table>

    <h3>
        Student Text Submission
    </h3>
        @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().TextSubmission)
</body>
</html>

