@model MackTechGroupProject.Models.StudentSubmissionViewModel


@{
    ViewBag.Title = "GradeAssignment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Submission</title>
</head>

<h1>
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().User.FirstName)
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().User.LastName)
    
</h1>
<h2>
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().Assignment.AssignmentTitle)
</h2>
<body>

    @using (Html.BeginForm())
    {
        <fieldset>
            <table>
                <tr>
                    <th>
                        Points Earned: 
                    </th>
                    <th>
                        @Html.TextBox("Grade")
                    </th>
                </tr>
                <tr>
                    <th>
                        Points Possible:
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().Assignment.Points)
                    </th>
                </tr>
            </table>
            
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <h3>
        Student Text Submission
    </h3>
    @Html.DisplayFor(model => model.SelectedStudentSubmission.FirstOrDefault().TextSubmission)
</body>
</html>

