
@model MackTechGroupProject.Models.AllAssignmentsViewModel

@{
    ViewBag.Title = "View All Assignments";
}

<h1>Current Assignments</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Current Assignments</title>
</head>
<body>

    <p>Assignment list goes here</p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllAssignments.FirstOrDefault().AssignmentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllAssignments.FirstOrDefault().AssignmentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllAssignments.FirstOrDefault().Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllAssignments.FirstOrDefault().DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllAssignments.FirstOrDefault().SubmissionType)
            </th>
        </tr>


        @foreach (var item in Model.AllAssignments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionType)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Course.CourseId })
                </td>*@
            </tr>
        }

    </table>





</body>
</html>

