@model MackTechGroupProject.Models.ToDoListViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>MACK Tech "Canvas"</h1>
    <p class="lead">Select your class below to view more detail.</p>
</div>

@if (this.User.IsInRole("Student"))
{
    <main class="col-md-8">
        <section class="Sec-ClassCard">
            <h2 class="ClassCardHeader">Current Enrollments</h2>


            <table class="classListTable">

                @if (Model.currentEnrollmentsView.Any())
                {
                    foreach (var item in Model.currentEnrollmentsView)
                    {
                        <tr>
                            <td>

                                <div class="classCard">
                                    <h3>
                                        <a style="color: #F2E6FF" class="ToDoItemTaskLink" href="@Url.Action("CourseDetail", "Courses", new { id = item.Course.CourseId })" target="_blank">
                                            @Html.DisplayFor(modelItem => item.Course.Department)
                                            @Html.DisplayFor(modelItem => item.Course.CourseNumber)
                                        </a>
                                    </h3>

                                    @*Add button to class card for viewing all assignemnts*@
                                    <p>
                                        <a class="btn btn-default" href="@Url.Action("ViewAssignments", "Assignments", new { id = item.Course.CourseId })">View Course Assignments</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </table>
            @*Moved the view all assignments button into the class card div*@

            <p><a class="btn btn-default" href="@Url.Action("ViewAllAssignments", "Assignments")">View All Assignments</a></p>

        </section>

        <section class="Sec-ToDoList">
            <div class="ToDoHeader">
                <h2>To Do</h2>
            </div>
            <hr style="height:3px;border-width:0;color:#5900B3;background-color:#5900B3" />
            <table class="ToDoItems">

                @if (Model.currentAssignmentsView.Any())
                {
                    foreach (var item in Model.currentAssignmentsView)
                    {
                        <tr class="ToDoItems">
                            <td class="ToDoItems">
                                <div class="ToDoCol1">
                                    @Html.DisplayFor(modelItem => item.DueDate.DayOfWeek)<br />
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </div>
                            </td>
                            <td class="ToDoItems">
                                <div class="ToDoCol2Class">
                                    @Html.DisplayFor(modelItem => item.Course.Department) @Html.DisplayFor(modelItem => item.Course.CourseNumber)
                                    <br />
                                </div>
                                <div class="ToDoCol2Task">
                                    <a class="ToDoItemTaskLink" href="@Url.Action("AssignmentSubmission", "Assignments", new { assignmentId = item.AssignmentId })" target="_blank">
                                        @Html.DisplayFor(modelItem => item.AssignmentTitle)
                                    </a>
                                </div>
                            </td>
                            <td class="ToDoItems">
                                <div class="ToDoCol3Points">
                                    @Html.DisplayFor(modelItem => item.Points) Points<br />
                                </div>
                                <div class="ToDoCol3DueDate">
                                    @Html.DisplayFor(modelItem => item.DueDate.TimeOfDay)
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </section>
    </main>

    <aside class="col-md-4">

        <section class="homePageNotifications">
        <h2>Notifications</h2>
        <table class="Notifications">
            <tr class="noteRow">
                <td class="noteCol1">
                    6/4/20
                </td>
                <td class="noteCol2">
                    Math <br /> 1220
                </td>
                <td class="noteCol3">
                    Quiz 4
                </td>
                <td class="NoteScore">
                    100%
                </td>
            </tr>
            <tr class="noteRow">
                <td class="noteCol1">
                    6/1/20
                </td>
                <td class="noteCol2">
                    Math <br /> 1220
                </td>
                <td class="noteCol3">
                    Quiz 3
                </td>
                <td class="NoteScore">
                    95%
                </td>
            </tr>
            <tr class="noteRow">
                <td class="noteCol1">
                    5/28/20
                </td>
                <td class="noteCol2">
                    CS <br /> 3750
                </td>
                <td class="noteCol3">
                    Project Management
                </td>
                <td class="NoteScore">
                    85%
                </td>
            </tr>
            <tr class="noteRow">
                <td class="noteCol1">
                    6/4/20
                </td>
                <td class="noteCol2">
                    Phys <br /> 2120
                </td>
                <td class="noteCol3">
                    Lab 5
                </td>
                <td class="NoteScore">
                    95%
                </td>
            </tr>
        </table>

        </section>

        <section class="homeClassPageMenu">
            <div class="homeClassMenuButton">
                <a href="@Url.Action("Calendar", "Misc")">
                    <h2>Calendar</h2>
                </a>
            </div>
            <div class="homeClassMenuButton">
                <a href="@Url.Action("Grades", "Courses")">
                    <h2>Grades</h2>
                </a>
            </div>

        </section>
    </aside>

}

@if (this.User.IsInRole("Instructor"))
{

    <main class="col-md-8">
        <section class="Sec-ClassCard">
            <h2 class="ClassCardHeader">Current Class List</h2>

            <table class="classListTable">

                @if (Model.currentEnrollmentsView.Any())
                {
                    foreach (var item in Model.currentEnrollmentsView)
                    {
                        <tr>
                            <td>

                                <div class="classCard">
                                    <h3>
                                        <a style="color: #F2E6FF" class="ToDoItemTaskLink" href="@Url.Action("CourseDetail", "Courses", new { id = item.Course.CourseId })" target="_blank">
                                            @Html.DisplayFor(modelItem => item.Course.Department)
                                            @Html.DisplayFor(modelItem => item.Course.CourseNumber)
                                        </a>
                                    </h3>
                                    @*Add button to class card to add a new assignemnt, instructor view only*@
                                    <p>
                                        <a class="btn btn-default" href="@Url.Action("AddAssignment", "Assignments", new { id = item.Course.CourseId })">Add new Assignment</a>
                                        @*@Html.ActionLink("AddAssignment", "Assignments", new { id = item.Course.CourseId })*@
                                    </p>
                                    @*Add button to class card for viewing all assignemnts*@
                                    <p>
                                        <a class="btn btn-default" href="@Url.Action("ViewAssignments", "Assignments", new { id = item.Course.CourseId })">View Course Assignments</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
            @*Moved the view all assignments button into the class card div*@

            <p><a class="btn btn-default" href="@Url.Action("ViewAllAssignments", "Assignments")">View All Assignments</a></p>

        </section>

        <section class="Sec-ToDoList">
            <div class="ToDoHeader">
                <h2>To Do</h2>
            </div>
            <hr style="height:3px;border-width:0;color:#5900B3;background-color:#5900B3" />
            <table class="ToDoItems">
                @if (Model.currentAssignmentsView.Any())
                {
                    foreach (var item in Model.currentAssignmentsView)
                    {
                        <tr class="ToDoItems">
                            <td class="ToDoItems">
                                <div class="ToDoCol1">
                                    @Html.DisplayFor(modelItem => item.DueDate.DayOfWeek)<br />
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </div>
                            </td>
                            <td class="ToDoItems">
                                <div class="ToDoCol2Class">
                                    @Html.DisplayFor(modelItem => item.Course.Department) @Html.DisplayFor(modelItem => item.Course.CourseNumber)
                                    <br />
                                </div>
                                <div class="ToDoCol2Task">
                                    <a class="ToDoItemTaskLink" href="@Url.Action("AssignmentSubmission", "Assignments", new { assignmentId = item.AssignmentId })" target="_blank">
                                        @Html.DisplayFor(modelItem => item.AssignmentDescription)
                                    </a>
                                </div>
                            </td>
                            <td class="ToDoItems">
                                <div class="ToDoCol3Points">
                                    @Html.DisplayFor(modelItem => item.Points) Points<br />
                                </div>
                                <div class="ToDoCol3DueDate">
                                    @Html.DisplayFor(modelItem => item.DueDate.TimeOfDay)
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </section>
    </main>

    <aside class="col-md-4">
        <section class="homePageNotifications">
            <h2>Notifications</h2>
            <table class="Notifications">
                <tr class="noteRow">
                    <td class="noteCol1">
                        6/4/20
                    </td>
                    <td class="noteCol2">
                        Math <br /> 1220
                    </td>
                    <td class="noteCol3">
                        Quiz 4
                    </td>
                    <td class="NoteScore">
                        100%
                    </td>
                </tr>
                <tr class="noteRow">
                    <td class="noteCol1">
                        6/1/20
                    </td>
                    <td class="noteCol2">
                        Math <br /> 1220
                    </td>
                    <td class="noteCol3">
                        Quiz 3
                    </td>
                    <td class="NoteScore">
                        95%
                    </td>
                </tr>
                <tr class="noteRow">
                    <td class="noteCol1">
                        5/28/20
                    </td>
                    <td class="noteCol2">
                        CS <br /> 3750
                    </td>
                    <td class="noteCol3">
                        Project Management
                    </td>
                    <td class="NoteScore">
                        85%
                    </td>
                </tr>
                <tr class="noteRow">
                    <td class="noteCol1">
                        6/4/20
                    </td>
                    <td class="noteCol2">
                        Phys <br /> 2120
                    </td>
                    <td class="noteCol3">
                        Lab 5
                    </td>
                    <td class="NoteScore">
                        95%
                    </td>
                </tr>
            </table>

        </section>

        <section class="homeClassPageMenu">
            <div class="homeClassMenuButton">
                <a href="@Url.Action("Calendar", "Misc")">
                    <h2>Calendar</h2>
                </a>
            </div>
            <div class="homeClassMenuButton">
                <a href="@Url.Action("Grades", "Courses")">
                    <h2>Grade Assignments</h2>
                </a>
            </div>

        </section>
    </aside>
}
